/* .fa-info:hover {
    position: relative;
    display: inline-block;
  }
  
  .fa-info:hover .tooltip {
    visibility: visible;
    opacity: 1;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 1;
  } */

  